html {
	font-size: 12pt;
	font-family: Tahoma;
}

table,th,td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

table th {
	background-color: #ffcd35;
	color: bfbfbf;
}

table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}

.containerDiv {
	margin: 0 auto;
	width: 900px;
}

div {
	position: relative;
}

img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.image {
	min-height: 50px
}

.toolbar {
	background-color: #ff9e35;
}

textarea {
	background-color: #F9F9F6;
	font-size: 12pt;
	font-family: Tahoma;
}