<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.bharatonjava.school.domain.Student" />
		<mapping class="com.bharatonjava.school.domain.Grade" />
		<mapping class="com.bharatonjava.school.domain.State" />
		<mapping class="com.bharatonjava.school.domain.City" />
		<mapping class="com.bharatonjava.school.domain.Contact" />
	</session-factory>
</hibernate-configuration>
